.video-container {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  display: none;
  width: 100%;
}

.videos {
  display: flex;
  height: 100vh;
  gap: 17px;
  justify-content: center;
  padding: 34px;

  align-items: center;


  &__one, &__two{
    video{
border-radius: 23px;
      height: 25rem;
      width: 100%;
    }
  }
  &__three{
    position: relative;
    video{

      height: 30rem;
      border-radius: 23px;
      width: 100%;
    }
  }
  i {
    cursor: pointer;
  }

  
}


.cross-icon {
  position: absolute;
  right: 4%;
  top: 2%;
  cursor: pointer;
  z-index: 10;
  background: grey;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding: 12px;
  width: 20px;
  height: 20px;
  font-size: 1.5rem;
}




.text-overlay {
  position: absolute;
  overflow: hidden;
  display: flex;
  top: -2% ;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 0.7rem;
  align-items: center;
  justify-content: space-between;
  height: 15.6%;
  border-radius: 20px;
  width: 90%;
  &__left-overlay {
    display: flex;
    gap: 12px;
    margin-top: 11px;

    .dp {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    
  }

  &__right-overlay {
    margin-top: 10px;
    display: flex;
    cursor: pointer;
    gap: 15px;
    font-size: 14px;
  }
}



.border-grey {
  border: 2px solid grey;
}



